<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Carrito de compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="mainCard">
    <ion-card>
      <ion-card-header>
        <section class="item-row" data-js="item-row" data-id="active_item_row_2">
          <article data-js="item-cart" class="item-cart" id="active_item_row_2_item_cart">
            <div role="button" tabindex="0" class="item-cart__asset" data-js="asset">
              <img decoding="async" src="../../../assets/img/hoodie3.png" class="bf-ui-image--default" alt="" />
            </div>
            <div class="item-cart__info">
              <div role="button" tabindex="0" data-js="title" class="item-title"
                aria-label="Tenis Vans Old Skool Clásico Punta Talon Gamuza Retro Sk8 ">
                <span data-js="rich-text" aria-hidden="true"
                  class="bf-ui-rich-text bf-ui-rich-text--large bf-ui-rich-text--bold">Hoodie Stone Mauve
                </span>
              </div>
              <p class="item-cart__description-text" aria-label="Color: Negro/Blanco, Talla: 28.5 MX. Modificar">
                <span data-js="rich-text" aria-hidden="true" class="bf-ui-rich-text bf-ui-rich-text--gray">Color: Stone
                  Mauve/Blanco, Talla: M MX</span>
              </p>
              
            </div>
          </article>
          <div class="bf-ui-quantity-selector">
            <div class="bf-ui-quantity-selector__box">
              <form class="bf-ui-quantity-selector__form">
                 <input type="hidden" name="_csrf" value="MITPnhv6-aMPHPJoDWeNkPLFyfavJK6qlp4A" />
                  <!--<button type="button"
                  class="andes-button bf-ui-quantity-selector__button bf-ui-quantity-selector__button--disabled andes-button--large andes-button--transparent andes-button--disabled"
                  disabled="" aria-label="Quitar una unidad">
                  <span class="andes-button__content">-</span>
                </button> -->
                <div
                  class="andes-form-control andes-form-control--textfield andes-form-control--default bf-ui-quantity-selector__input">
                  <label><span class="andes-visually-hidden"></span>
                    <div class="andes-form-control__control">
                      <input aria-label="1 unidad" rows="1" class="andes-form-control__field" maxlength="120"
                        value="1" />
                    </div>
                  </label>
                  <div class="andes-form-control__bottom">
                    <span class="andes-form-control__message"></span>
                  </div>
                </div>
                <!-- <button type="button"
                  class="andes-button bf-ui-quantity-selector__button andes-button--large andes-button--transparent"
                  arial-label="Agregar una unidad">
                  <span class="andes-button__content">+</span>
                </button> -->
              </form>
              <div class="bf-ui-quantity-selector__spinner-container"></div>
            </div>
            <p class="bf-ui-quantity-selector__message" data-js="title" aria-label="6 disponibles">
              <span data-js="rich-text" aria-hidden="true" class="bf-ui-rich-text bf-ui-rich-text--false">6
                disponibles</span>
            </p>
          </div>
          <div class="item-price-container" data-id="active_item_row_2_item_price" data-js="item-price">
            <div class="item-price" aria-label="Precio actual 1299 pesos">
              <div class="item-price-current">
                <span itemprop="offers" itemscope="" itemtype="http://schema.org/Offer"
                  class="bf-ui-rich-price bf-ui-rich-price--large">
                  <meta itemprop="price" content="1,299" /><span itemprop="priceCurrency"
                    aria-hidden="true">$&nbsp;</span><span class="bf-ui-price-small">1,299</span>
                </span>
              </div>
            </div>
          </div>
        </section>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-header>
        <div class="main-container main-container__gray" data-js="main-container" data-id="main">
          <div class="cart-container cart-container--fixed cart-container--fixed-in" data-js="cart-container"
            data-id="cart_container1">
            <div role="tabpanel">
              <div class="bf-ui-separator" data-js="separator" data-id="separator0"></div>
              <section class="item-row" data-js="item-row" data-id="active_item_row_1">
                <article data-js="item-cart" class="item-cart" id="active_item_row_1_item_cart">
                  <div role="button" tabindex="0" class="item-cart__asset" data-js="asset">
                    <img decoding="async"
                      src="https://http2.mlstatic.com/chamarra-de-mezclilla-hombre-azul-claro--ligera-demolicion-S_808015-MLA50881463237_072022-R.jpg"
                      class="bf-ui-image--default" alt="" />
                  </div>
                  <div class="item-cart__info">
                    <div role="button" tabindex="0" data-js="title" class="item-title"
                      aria-label="Chamarra De Mezclilla Hombre Azul Claro / Ligera Demolición">
                      <span data-js="rich-text" aria-hidden="true"
                        class="bf-ui-rich-text bf-ui-rich-text--large bf-ui-rich-text--bold">Chamarra De Mezclilla
                        Hombre
                        Azul Claro / Ligera
                        Demolición</span>
                    </div>
                    <p class="item-cart__description-text" aria-label="Color: Azul acero, Talla: 2XL. Modificar">
                      <span data-js="rich-text" aria-hidden="true" class="bf-ui-rich-text bf-ui-rich-text--gray">Color:
                        Azul
                        acero, Talla: 2XL</span>
                    </p>
                  </div>
                </article>
                <div class="bf-ui-quantity-selector">
                  <div class="bf-ui-quantity-selector__box">
                    <form class="bf-ui-quantity-selector__form">
                      <input type="hidden" name="_csrf" value="IgrqfJBy-wpFN5OC5peGvbOovHUWtuqZyq0M" />
                        <!-- <button
                        type="button"
                        class="andes-button bf-ui-quantity-selector__button bf-ui-quantity-selector__button--disabled andes-button--large andes-button--transparent andes-button--disabled"
                        disabled="" aria-label="Quitar una unidad">
                        <span class="andes-button__content">-</span>
                      </button> -->
                      <div
                        class="andes-form-control andes-form-control--textfield andes-form-control--default bf-ui-quantity-selector__input">
                        <label><span class="andes-visually-hidden"></span>
                          <div class="andes-form-control__control">
                            <input aria-label="1 unidad" rows="1" class="andes-form-control__field" maxlength="120"
                              value="1" />
                          </div>
                        </label>
                        <div class="andes-form-control__bottom">
                          <span class="andes-form-control__message"></span>
                        </div>
                      </div>
                      <!-- <button type="button"
                        class="andes-button bf-ui-quantity-selector__button andes-button--large andes-button--transparent"
                        arial-label="Agregar una unidad">
                        <span class="andes-button__content">+</span>
                      </button> -->
                    </form>
                    <div class="bf-ui-quantity-selector__spinner-container"></div>
                  </div>
                  <p class="bf-ui-quantity-selector__message" data-js="title" aria-label="3 disponibles">
                    <span data-js="rich-text" aria-hidden="true" class="bf-ui-rich-text bf-ui-rich-text--false">3
                      disponibles</span>
                  </p>
                </div>
                <div class="item-price-container" data-id="active_item_row_1_item_price" data-js="item-price">
                  <div class="item-price" aria-label="Precio actual 519 pesos">
                    <div class="item-price-current">
                      <span itemprop="offers" itemscope="" itemtype="http://schema.org/Offer"
                        class="bf-ui-rich-price bf-ui-rich-price--large">
                        <meta itemprop="price" content="519" /><span itemprop="priceCurrency"
                          aria-hidden="true">$&nbsp;</span><span class="bf-ui-price-small">519</span>
                      </span>
                    </div>
                  </div>
                </div>
              </section>
              <div class="bf-ui-footer-container" data-id="footer_container1" data-js="footer-container">
                <div class="bf-ui-separator" data-js="separator" data-id="separator1"></div>
                <div class="bf-ui-separator" data-js="separator" data-id="separator2"></div>
                <div class="bf-ui-ticket-row" id="ticket_row_ticket_row_2" data-js="ticket-row">
                  <div class="bf-ui-ticket-row__left-column" data-js="left-column">
                    <h5 class="bf-ui-ticket-row__left-column--primary-text" data-js="primary-text" aria-label="Total">
                      <span data-js="rich-text" aria-hidden="true"
                        class="bf-ui-rich-text bf-ui-rich-text--xxlarge">Total
                        con envío</span>
                    </h5>
                  </div>
                  <div class="bf-ui-ticket-row__right-column" data-js="right-column">
                    <h6 class="bf-ui-ticket-row__right-column--primary-text" data-js="primary-text">
                      <span itemprop="offers" itemscope="" itemtype="http://schema.org/Offer"
                        class="bf-ui-rich-price bf-ui-rich-price--xxlarge">
                        <meta itemprop="price" content="11,916undefined00" /><span itemprop="priceCurrency"
                          aria-hidden="true">$&nbsp;</span><span
                          class="bf-ui-price-small">1,818</span><span><span></span><span
                            class="bf-ui-price-small-cents">.00</span></span>
                      </span>
                    </h6>
                  </div>
                </div>
                <div class="bf-ui-separator" data-js="separator" data-id="separator3"></div>
              </div>
            </div>
          </div>
        </div>
      </ion-header>
    </ion-card>
    <ion-button expand="block" (click)="openModal()">Realizar Compra</ion-button>
  </ion-card>
</ion-content>