.modal
{
    // width: 90%;
    height: 90%;
    border: 1px solid rgba(0, 0, 0, 0.274);
    border-radius: 8px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    // margin-bottom: 15px;
    // padding-top: 13%;
    // padding-bottom: 32%;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
}
.subTitleProduct{
    margin-left: 1.5em;
    margin-bottom: 4px;
}

.itemContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 25px;
    height: 50px;
    font-size: 15px;
    color: rgba(0,0,0, 0.55);
}

.butonsContainer{
    padding-bottom: 10px;
    height: 10;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnCancelar{
    width: 100%;
    background-color: #d9e7fa;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    display: flex;
    align-items: center;
    // padding-left: 40%;
}

.btnCancelarCenter{
    width: 100%;
    color: #488aff;
    font-weight: bold;
}

.btnConfirmar{
    width: 100%;
    background-color: #488aff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    // padding-left: 30%;
}

.btnConfirmarCenter{
    width: 100%;
    color: white;
    font-weight: bold;
}

.imgContainer{
    max-height: 90%;
}

.containerImg{
    width: 40%;
    min-width: auto;
}

.containerCantidad{
    display: flex;
    align-items: flex-start;
    margin-top: -17px;
}


.SpanCantidad{
    padding-top: 9px;
    padding-left: 50px;
    padding-bottom: 15px;
    font-size: 15px;
    color: rgba(0,0,0, 0.55);
    font-family: Helvetica;
}

.Bold{
    color: black;
    font-family: Helvetica;
    font-size: medium;
}