<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Editar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>Contraseña antigua:</ion-label>
        <ion-input
          type="password"
          (change)="setOldPassword($event.target.value)"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Nueva constraseña:</ion-label>
        <ion-input
          type="password"
          (change)="setNewPassword($event.target.value)"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Confirmar constraseña:</ion-label>
        <ion-input
          type="password"
          (change)="setConfirmPassword($event.target.value)"
        ></ion-input>
      </ion-item>
      <div class="ion-text-center" style="padding-top: 2%">
        <ion-button fill="outline" color="success" (click)="sendDataPass()"
          >Cambiar</ion-button
        >
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
