<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ADMIN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input placeholder=""></ion-input>
    </ion-item>
    <ion-list>
      <ion-item>
        <ion-select interface="popover" placeholder="Categoría">
          <ion-select-option value=""></ion-select-option>
          <ion-select-option value=""></ion-select-option>
          <ion-select-option value=""></ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-select interface="popover" placeholder="Tipo">
          <ion-select-option value=""></ion-select-option>
          <ion-select-option value=""></ion-select-option>
          <ion-select-option value=""></ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-select interface="popover" placeholder="Talla">
          <ion-select-option value=""></ion-select-option>
          <ion-select-option value=""></ion-select-option>
          <ion-select-option value=""></ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-label position="stacked">Color</ion-label>
      <ion-input placeholder=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Serial</ion-label>
      <ion-input placeholder=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Precio</ion-label>
      <ion-input placeholder=""></ion-input>
    </ion-item>
    <div class="centerBtn">
      <ion-button >Subir imagen</ion-button>
    </div>
  </ion-card>

</ion-content>